* {
  padding: 0;
  margin: 0;
  /* font-family: "Open Sans',sans-serif"; */
}
.background {
  /* background-image: url();
  background-position: center;
  background-repeat: no-repeat; */
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(./Images/image-intro.jpg) fixed #444 center;
  background-size: cover;
  height: 692px;
}
.recipesAbg {
  background-image: url(Images/hl-6.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipesBbg {
  background-image: url(Images/hl-7.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

._container {
  max-width: 940px;
}

/* ._container {
  max-width: 940px;
} */

@media (max-width: 959px) {
  ._container {
    max-width: 748px;
  }
  .media {
    display: none;
  }
}
@media (max-width: 767px) {
  ._container {
    max-width: 420px;
  }
}

._customer_img_border {
  border: 3px solid #ddd;
}
html {
  scroll-behavior: smooth;
}
._hover_effect:hover {
  opacity: 0.7;
}
